# Local Docker Compose to test Keycloak
services:
  keycloak:
    container_name: keycloak
    build:
      context: ./test-keycloak
      dockerfile: Dockerfile
    command: ["start", "--verbose"]
    environment:
      - KC_FEATURES=admin-fine-grained-authz:v2,hostname:v2
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=keycloak
      - KC_HOSTNAME=https://localhost/auth
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=changeme #change to desired password
      - KC_HTTP_ENABLED=true
      - KC_PROXY_HEADER=xforwarded
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - keycloak_network
  postgres:
    container_name: kc-postgres
    build:
      context: ./test-postgres
      dockerfile: Dockerfile
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - keycloak_network
  apache:
    container_name: httpd-proxy
    build:
      context: ./test-apache
      dockerfile: Dockerfile
    ports:
      - "443:443"
    networks:
      - keycloak_network

networks:
  keycloak_network:

volumes:
  postgres_data: